spring-rwto/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.rwto.com/custom/tag/user"
		elementFormDefault="qualified">
	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
		</complexType>
	</element>
</schema>